---
layout: default
---
<div id="intro">
	<input id="show-desktop-downloads" type="checkbox"/>
	<div id="intro-body">
		<div id="inner-wide">
			<h1>A lightweight, fast and extensible game server for Minecraft</h1>
			<h2>Download for Minecraft Java Edition 1.8 - 1.12.2</h2>
			<div id="downloads">
				<div id="desktop-downloads">
					<label class="downloadbutton" tabindex="0">
						<svg aria-hidden="true" height="1.688em" viewBox="0 0 24 24" width="1.688em">
							<path d="{% include _svg/linux %}" />
						</svg>
						Linux
						<input type="checkbox"/>
						<span class="downloadmenu">
							<a href="https://download.cuberite.org/linux-i386/Cuberite.tar.gz">32-bit</a>
							<a href="https://download.cuberite.org/linux-x86_64/Cuberite.tar.gz">64-bit</a>
							<a href="https://download.cuberite.org/linux-armhf-raspbian/Cuberite.tar.gz">Raspberry Pi</a>
						</span>
					</label>
					<label class="downloadbutton" tabindex="0">
						<svg aria-hidden="true" height="1.688em" viewBox="0 0 24 24" width="1.688em">
							<path d="{% include _svg/windows %}" />
						</svg>
						Windows
						<input type="checkbox"/>
						<span class="downloadmenu">
							<a href="https://download.cuberite.org/windows-i386/Cuberite.zip">32-bit</a>
							<a href="https://download.cuberite.org/windows-x86_64/Cuberite.zip">64-bit</a>
						</span>
					</label>
					<a href="https://download.cuberite.org/darwin-x86_64/Cuberite.tar.gz" class="downloadbutton">
						<svg aria-hidden="true" height="1.688em" viewBox="0 0 24 24" width="1.688em">
							<path d="{% include _svg/macos %}" />
						</svg>
						macOS
					</a>
				</div>
				<div id="mobile-downloads">
					<a href="https://download.cuberite.org/android" class="downloadbutton">
						<svg aria-hidden="true" height="1.688em" viewBox="0 0 24 24" width="1.688em">
							<path d="{% include _svg/android %}" />
						</svg>
						Android™
					</a>
				</div>
				<div id="download-footer">
					<a href="/demoservers/">Demo Servers</a>
					<span>&bull;</span>
					<a href="/get-started/">Get Started</a>
					<span>&bull;</span>
					<a href="/download-links/">Download Links</a>
					<span>&bull;</span>
					<a href="https://github.com/cuberite/cuberite">Source Code</a>
				</div>
			</div>
			<label id="show-desktop-downloads-button" for="show-desktop-downloads">
				<span id="more">
					<span>More</span>
					<svg aria-hidden="true" height="1.313em" viewBox="0 0 24 24" width="1.313em">
						<path d="{% include _svg/arrow-more %}" />
					</svg>
				</span>
				<span id="hide">
					<span>Hide</span>
					<svg aria-hidden="true" height="1.313em" viewBox="0 0 24 24" width="1.313em">
						<path d="{% include _svg/arrow-less %}" />
					</svg>
				</span>
			</label>
		</div>
	</div>
</div>

{% capture notice %}
	{% include notice.md %}
{% endcapture %}
{% assign size = notice | strip_newlines | size %}

{% if size > 1 %}
	<div id="banner">
		<div id="banner-body">
			{{ notice | markdownify | remove: '<pre>' | remove: '<code>' | remove: '</pre>' | remove: '</code>' }}
		</div>
	</div>
{% endif %}
