---
layout: page
title: News
description: 'Receive the latest news and updates about Cuberite. You may also subscribe to get the news sent to your e-mail.'
---
{% for post in paginator.posts %}
	<div class="post">
		<a href="{{ post.url }}">{{ post.title }}</a>
		<span>{{ post.date | date: "%B %e, %Y" }}</span>
	</div>
{% endfor %}

<div id="pagination">
	{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path }}" id="previous" title="Previous">
			<svg aria-hidden="true" height="1.000em" viewBox="0 0 24 24" width="1.000em">
				<path d="{% include _icons/previous %}" />
			</svg>
		</a>
	{% else %}
		<span id="previous">
			<svg aria-hidden="true" height="1.000em" viewBox="0 0 24 24" width="1.000em">
				<path d="{% include _icons/previous %}" />
			</svg>
		</span>
	{% endif %}
	{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path }}" id="next" title="Next">
			<svg aria-hidden="true" height="1.000em" viewBox="0 0 24 24" width="1.000em">
				<path d="{% include _icons/next %}" />
			</svg>
		</a>
	{% else %}
		<span id="next">
			<svg aria-hidden="true" height="1.000em" viewBox="0 0 24 24" width="1.000em">
				<path d="{% include _icons/next %}" />
			</svg>
		</span>
	{% endif %}
</div>

<h3 id="subscribe">Subscribe</h3>
<p>Do you want to get these news sent to your e-mail address whenever they are released? You can subscribe below.</p>
<form action="https://newsletter.cuberite.org/subscribe.php" method="POST">
	<input name="email" type="email" placeholder="email@example.com" required>
	<button type="submit">Subscribe</button>
</form>
