/* Animation */

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* Main */

* {
	border: 0;
	font: inherit;
	margin: 0;
	padding: 0;
}
html,
body {
	width: 100%;
	height: 100%;
}
html {
	@media (min-width: 0em) {
		font-size: 88%;
	}
	@media (min-width: 10em) {
		font-size: 90%;
	}
	@media (min-width: 20em) {
		font-size: 92%;
	}
	@media (min-width: 30em) {
		font-size: 94%;
	}
	@media (min-width: 40em) {
		font-size: 96%;
	}
	@media (min-width: 50em) {
		font-size: 98%;
	}
	@media (min-width: 60em) {
		font-size: 100%;
	}
	@media (min-width: 70em) {
		font-size: 102%;
	}
	@media (min-width: 80em) {
		font-size: 104%;
	}
	@media (min-width: 90em) {
		font-size: 106%;
	}
	@media (min-width: 100em) {
		font-size: 108%;
	}
	@media (min-width: 110em) {
		font-size: 110%;
	}
	@media (min-width: 120em) {
		font-size: 112%;
	}
	@media (min-width: 130em) {
		font-size: 114%;
	}
	@media (min-width: 140em) {
		font-size: 116%;
	}
	@media (min-width: 150em) {
		font-size: 118%;
	}
	@media (min-width: 160em) {
		font-size: 120%;
	}
	@media (min-width: 170em) {
		font-size: 122%;
	}
	@media (min-width: 180em) {
		font-size: 124%;
	}
	@media (min-width: 190em) {
		font-size: 126%;
	}
	@media (min-width: 200em) {
		font-size: 128%;
	}
	@media (min-width: 210em) {
		font-size: 130%;
	}
	@media (min-width: 220em) {
		font-size: 132%;
	}
	@media (min-width: 230em) {
		font-size: 134%;
	}
	@media (min-width: 240em) {
		font-size: 136%;
	}
	@media (min-width: 250em) {
		font-size: 138%;
	}
	@media (min-width: 260em) {
		font-size: 140%;
	}
	@media (min-width: 270em) {
		font-size: 142%;
	}
	@media (min-width: 280em) {
		font-size: 144%;
	}
	@media (min-width: 290em) {
		font-size: 146%;
	}
	@media (min-width: 300em) {
		font-size: 148%;
	}
}
body {
	background: linear-gradient(135deg, #222222 25%, transparent 25%) -50px 0, linear-gradient(225deg, #222222 25%, transparent 25%) -50px 0, linear-gradient(315deg, #222222 25%, transparent 25%), linear-gradient(45deg, #222222 25%, transparent 25%);
	background-size: 75px 80px;
	background-color: #1e1e1e;
	color: #eaeaea;
	fill: #eaeaea;
	font-family: montserratregular, "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: table;
	text-shadow: 0 0.125em 0 rgba(0, 0, 0, .1);
}
h1,
h2,
h3 {
	text-transform: uppercase;
}
h1 {
	font-size: 2.875em;
	line-height: 1.375em;
	margin: 0 0 1.250em 0;
	text-shadow: 0 0.063em 0.063em rgba(0, 0, 0, .15);
}
h2 {
	font-size: 1.500em;
	line-height: 1.375em;
	margin: 0 0 0.500em 0;
}
h2 svg {
	margin: 0 0.563em 0 0;
}
h3 {
	font-size: 1.125em;
	margin: 2.125em 0 0.750em 0;
}
p,
ul {
	margin: 0 0 0.938em 0;
}
em {
	font-style: italic;
}
strong {
	font-weight: bold;
}
a {
	color: rgba(255, 255, 255, .4);
	text-decoration: none;
}
a:hover,
a:focus {
	color: rgba(255, 255, 255, .6);
}
/* Combined Rules */

.show-mobile,
#intro input,
#footer-links-toggle,
#footer img,
#mobile-links {
	display: none;
}
#intro-body,
#main-body,
#banner-blue-body,
#banner-green-body {
	animation: fadein .7s;
}
#navigation a,
#footer a {
	color: #eaeaea;
	fill: #eaeaea;
}
#navigation a:hover,
#navigation a:focus,
#footer a:hover,
#footer a:focus,
#footer-links label:hover,
#footer-links label:focus,
.active {
	background: rgba(10, 10, 10, .35);
}
h2 span, svg, #navigation span {
	vertical-align: middle;
}
p,
#banner-blue,
#banner-green,
.post span,
input {
	font-family: montserratlight, "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.625em;
}
#left-three,
#center-three,
#right-three,
#left-two,
#right-two,
button,
input {
	vertical-align: top;
}
#post-footer span,
#download-footer span {
	margin: 0 0.750em 0 0.750em;
}
.button,
.downloadbutton,
#pagination a,
#pagination span {
	background: #eaeaea;
	border-radius: 0.313em;
	box-shadow: 0 0.125em 0.063em rgba(0, 0, 0, 0.15);
	color: #1e1e1e;
	fill: #1e1e1e;
	display: inline-block;
	text-shadow: none;
}
.button:hover,
.button:focus,
#pagination a:hover,
#pagination a:focus {
	background: #C3C3C3;
	color: #1e1e1e;
	fill: #1e1e1e;
}
/* Columns */

#right-two,
#right-three {
	margin: 0.500em 0 0 0;
}
#left-three,
#center-three,
#right-three {
	display: inline-block;
	width: 30%;
}
#left-three,
#center-three {
	margin: 0.500em 2.500em 0 0;
}
#left-two,
#right-two {
	display: inline-block;
	width: 45%;
}
#left-two {
	margin: 0.500em 2.500em 0 0;
}
/* Spacing */

.spacing-first {
	margin: 2.375em 0 3.000em 0;
}
.spacing-main {
	margin: 0 0 3.000em 0;
}
/* Navigation Bar */

#navigation {
	background: rgba(10, 10, 10, 0.4);
	display: table-row;
	line-height: 3.750em;
}
#logo a {
	float: left;
	font-size: 1.500em;
	text-transform: uppercase;
	padding: 0 0.750em;
	margin: 0 0 0 0.750em;
}
#logo svg {
	margin: 0 0.625em 0 0;
}
#navigation-links {
	float: right;
	margin: 0 0.750em 0 0;
}
#navigation-links a {
	float: left;
	font-size: 0.875em;
	padding: 0 1.625em;
	margin: 0 0.188em;
}
#navigation-links svg {
	margin: 0 0.875em 0 0;
}
/* Intro and Main */

#intro,
#main {
	display: table-row;
	height: 100%;
}
#intro-body,
#main-body {
	display: table-cell;
	padding: 5%;
	vertical-align: middle;
	text-align: center;
}
#intro h2 {
	margin: 0 0 1.000em 0;
}
#inner {
	margin: auto;
	max-width: 50em;
}
#inner-wide {
	margin: auto;
	max-width: 70em;
}
/* Download Buttons */

.downloadbutton {
	font-size: 1.125em;
	cursor: pointer;
	width: 8.500em;
	margin: 0 0.500em;
	padding: 0 0.750em 0 0;
	position: relative;
	line-height: 3.125em;
	transition-delay: .19s;
}
.downloadbutton:hover,
.downloadbutton:focus {
	background: #C3C3C3;
	border-radius: 0.313em 0.313em 0 0;
	transition-delay: 0s;
}
.downloadbutton:hover > span {
	max-height: 8.000em;
}
.downloadbutton svg {
	float: left;
	margin: 0.750em 0 0.750em 0.750em;
}
.downloadbutton span {
	background: #C3C3C3;
	border-radius: 0 0 0.313em 0.313em;
	box-shadow: 0 0.125em 0.063em rgba(0, 0, 0, 0.15);
	display: block;
	max-height: 0;
	overflow: hidden;
	position: absolute;
	transition: max-height 150ms ease;
	width: 100%;
}
.downloadbutton span a {
	color: #1e1e1e;
	display: block;
	line-height: 2.625em;
}
.downloadbutton span a:hover,
.downloadbutton span a:focus {
	background: #eaeaea;
}
.downloadbutton span a:last-child:hover,
.downloadbutton span a:last-child:focus {
	border-radius: 0 0 0.313em 0.313em;
}
#download-footer {
	font-size: 0.875em;
	margin: 1.875em 0 0 0;
}
#download-footer a {
	color: rgba(255, 255, 255, .7);
}
#download-footer a:hover,
#download-footer a:focus {
	color: #fff;
}
/* Banners */

#banner-blue,
#banner-green {
	color: rgba(255, 255, 255, .75);
	fill: rgba(255, 255, 255, .75);
	font-size: 0.938em;
	text-align: center;
	padding: 0.750em;
}
#banner-blue svg,
#banner-green svg {
	padding: 0 0.750em 0 0;
}
#banner-blue {
	background: rgba(43, 149, 255, .05);
}
#banner-green {
	background: rgba(49, 162, 0, .15);
}
/* News */

.post {
	margin: 1.375em 0 1.938em 0;
}
.post a {
	color: rgba(255, 255, 255, .6);
	font-size: 1.125em;
	text-transform: uppercase;
}
.post a:hover,
.post a:focus {
	color: rgba(255, 255, 255, .8);
}
.post span {
	display: block;
	font-size: 0.875em;
	margin: 0.688em 0 0 0;
}
#post-footer {
	color: rgba(255, 255, 255, .7);
	font-size: 0.875em;
	padding: 0.375em 0 0 0;
}
#post-footer a {
	color: rgba(255, 255, 255, .5);
}
#post-footer a:hover,
#post-footer a:focus {
	color: rgba(255, 255, 255, .7);
}
#pagination {
	margin: 2.188em 0 3.375em 0;
}
#pagination a,
#pagination span {
	padding: 0.750em 0.750em 0.625em 0.750em;
}
#pagination span {
	color: #676767;
	fill: #676767;
}
#previous {
	margin: 0 0.313em 0 0;
}
#next {
	margin: 0 0 0 0.313em;
}
/* Footer */

#footer {
	background: rgba(10, 10, 10, 0.4);
	display: table-row;
	line-height: 3.375em;
}
#footer-links {
	margin: 0 0 0 0.813em;
}
#footer-links a {
	float: left;
	font-size: 0.875em;
	padding: 0 1.875em;
	margin: 0 0.188em;
}
#media-links {
	float: right;
	margin: 0 0.813em 0 0;
}
#media-links a:first-child {
	padding: 0 1.625em;
}
/* Inputs */

button,
input {
	border-radius: 0.188em;
	font-size: 0.875em;
	height: 2.500em;
	line-height: 2.500em;
	padding: 0 0.750em;
}
input {
	background: rgba(255, 255, 255, .6);
	margin: 0.313em 0 0 0;
	width: 13.750em;
}
input:focus {
	background: #eaeaea;
}
button {
	background: rgba(10, 10, 10, .6);
	color: #fff;
	cursor: pointer;
	margin: 0.313em 0 0 0.438em;
}
button:hover,
button:focus {
	background: #000;
}
.button {
	margin: 0.938em 0.375em 0 0.375em;
	padding: 0.875em;
}
/* Tablet/Mobile Design */

@media (max-width: 60em) {
	body {
		padding: 3.750em 0;
	}
	.show-mobile {
		display: initial;
	}
	/* Menus */

	#navigation a:hover,
	#navigation a:focus,
	#footer a:hover,
	#footer a:focus,
	#footer label:hover,
	#footer label:focus,
	.active {
		background: #000;
	}
	#navigation {
		background: rgba(10, 10, 10, 0.95);
		position: fixed;
		text-align: center;
		top: 0;
		width: 100%;
	}
	#logo a {
		display: inline-block;
		float: none;
		margin: 0;
	}
	#navigation-links {
		display: none;
	}
	#footer {
		background: rgba(10, 10, 10, 0.95);
		bottom: -15.000em;
		position: fixed;
		transition: bottom 200ms ease;
		z-index: 1;
	}
	#footer-links-toggle:checked + #footer {
		bottom: 0;
	}
	#footer-links {
		height: 15.000em;
		overflow-y: scroll;
	}
	#footer-links a {
		display: block;
		float: none;
		margin: 0;
	}
	#mobile-links {
		font-size: 0.750em;
		line-height: 2.500em;
	}
	#mobile-links svg {
		display: block;
		padding: 0.750em 0 0 0;
		margin: 0 auto;
	}
	#footer-links, #media-links {
		margin: 0;
	}
	#media-links,
	#mobile-links {
		display: table;
		table-layout: fixed;
		width: 100%;
	}
	#media-links a,
	#mobile-links a,
	#mobile-links label {
		cursor: pointer;
		display: table-cell;
		text-align: center;
	}
	/* Columns */
	
	#inner-wide {
		max-width: 50em;
	}
	#left-two,
	#right-two,
	#left-three,
	#center-three,
	#right-three {
		display: block;
		width: 100%;
	}
	#left-two,
	#left-three {
		margin: 3.125em 0 4.000em 0;
	}
	#center-three {
		margin: 0 0 4.000em 0;
	}
	/* Download Buttons */
	
	.downloadbutton {
		display: block;
		margin: 0 0 1.125em 0;
		padding: 0;
		position: initial;
		width: auto;
	}
	.downloadbutton:hover,
	.downloadbutton:focus {
		border-radius: 0.313em;
	}
	.downloadbutton svg {
		margin: 0.750em -2.500em 0.750em 0.750em;
	}
	.downloadbutton span {
		box-shadow: none;
		position: initial;
		background: none;
	}
	.downloadbutton:hover > span {
		max-height: 0;
	}
	.downloadbutton input:checked + span {
		max-height: 8.000em;
	}
}
/* Print Style */

@media print {
	body {
		height: auto;
		padding: 0;
	}
	body,
	h1,
	#logo a,
	#banner-blue,
	#banner-green,
	#pagination span,
	input {
		color: #000;
		fill: #000;
		text-shadow: none;
	}
	body,
	.button,
	.downloadbutton,
	#banner-blue,
	#banner-green,
	#pagination a,
	#pagination span,
	button,
	input {
		background: none;
	}
	a,
	#download-footer a,
	#post-footer a,
	.post a,
	.button,
	.downloadbutton,
	#pagination a,
	button {
		color: #5098CE;
		fill: #5098CE;
		text-decoration: underline;
	}
	a:after {
		content: " (" attr(href) ")";
		font-size: 80%;
	}
	#navigation-links,
	#footer {
		display: none;
	}
	#navigation {
		position: relative;
	}
	#intro-body,
	#main-body {
		padding: 0;
	}
	#main-body {
		text-align: justify;
	}
	#left-two,
	#right-two,
	#left-three,
	#center-three,
	#right-three {
		display: block;
		width: 100%;
	}
	#left-two,
	#left-three {
		margin: 3.125em 0 4.000em 0;
	}
	#center-three {
		margin: 0 0 4.000em 0;
	}
	.button,
	.downloadbutton,
	#pagination a,
	button {
		border: 0.063em solid #5098CE;
		box-shadow: none;
	}
	#pagination span,
	input {
		border: 0.063em solid #000;
		box-shadow: none;
	}
}
